<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAD Viewer</title>
    <style>
        body {
            margin: 0;
            background-color: #FFFFFF; /* Ensure the body background is white */
        }
        #viewer {
            width: 50%;  /* Sets the viewer width to half of the window width */
            height: 50vh;  /* Sets the viewer height to full viewport height */
            border: 5px solid black;  /* Adds a black border */
            overflow: hidden;  /* Hides any content that overflows the div's box */
        }   
    </style>
</head>
<body>
    <input type="file" id="file-input" accept=".stl, .obj"/>
    <button id="upload-button">Upload File</button>
    <p id="feedback-message">Select a file and press the upload button.</p>
    <div id="viewer"></div> <!-- Container for Three.js output -->

    <script type="module" src="/static/app.js"></script>
</body>
</html>
